@model TaskMaster.ViewModels.ProjetoViewModel
@{
    /**/

    /**/

    /**/

    ViewBag.Title = Model.Titulo;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Titulo</h2>

@using (Html.BeginForm("Salvar", "Projetos"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.NomeProjeto)
        @Html.TextBoxFor(m => m.NomeProjeto, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NomeProjeto)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.GerenteProjsId)
        @Html.DropDownListFor(m => m.GerenteProjsId, new SelectList(Model.GerenteProjs, "GerenteProjsId", "Nome"), "Selecione...", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.GerenteProjsId)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.DataInicio)
        @Html.TextBoxFor(m => m.DataInicio, new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(m => m.DataInicio)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.DataEstimada)
        @Html.TextBoxFor(m => m.DataEstimada, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.DataEstimada)
    </div>

    @Html.HiddenFor(c => c.ProjetosId)
    @Html.HiddenFor(e=>e.EstadoProj)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Salvar</button>

}
