@model TaskMaster.ViewModels.NovoProjetoViewModel
@{
                /**/

                /**/

                /**/

ViewBag.Title = "NovoProjeto";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Novo Projeto</h2>

@using (Html.BeginForm("CriarProjeto", "Projetos"))
{
    @Html.ValidationSummary(true, "Verifique os erros a seguir:")
    <div class="form-group">
        @Html.LabelFor(m => m.Projetos.NomeProjeto)
        @Html.TextBoxFor(m => m.Projetos.NomeProjeto, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Projetos.NomeProjeto)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Projetos.GerenteProjsId)
        @Html.DropDownListFor(m => m.Projetos.GerenteProjsId, new SelectList(Model.GerenteProjs, "GerenteProjsId", "Nome"), "Selecione...", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Projetos.GerenteProjsId)
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.Projetos.DataInicio)
        @Html.TextBoxFor(m => m.Projetos.DataInicio, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Projetos.DataEstimada)
        @Html.TextBoxFor(m => m.Projetos.DataEstimada, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Cadastrar Projeto</button>

}