@model TaskMaster.ViewModels.BugsViewModel
@{
    ViewBag.Title = "Home Page";

    string abertos =ViewData["QtdBugsAbertos"].ToString();
    string emTrat = ViewData["QtdBugsEmTrat"].ToString();
    string Corrig = ViewData["QtdBugsCorrigido"].ToString();

    string bugtipo500 = ViewData["bugtipo500"].ToString();
    string bugtipo404 = ViewData["bugtipo404"].ToString();
    string bugtipoInterface = ViewData["bugtipoInterface"].ToString();
    string bugtipoFluxo = ViewData["bugtipoFluxo"].ToString();
    string bugtipoCalc = ViewData["bugtipoCalc"].ToString();
}

<div class="jumbotron container-fluid">
    <h2><b>Task Master</b></h2>
    <h3>
        Software para Controle de Projetos de Desenvolvimento de Software.<br />
        Cadastre seus Projetos, respectivas Tarefas (Tasks) de Teste e controle os Bugs encontrados.
    </h3>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <h3><b>Bugs Encontrados</b></h3>
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th class="active" align="center"><center>Estado</center></th>
                    <th class="active" align="center"><center>Quantidade de Bugs</center></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td align="center" style="background-color:lightcoral">@Html.ActionLink("Abertos", "ListarBugEstado", "Home", new { estado = "Aberto" }, new { Style = "color:White" })</td>
                    <td align="center">@abertos</td>
                </tr>
                <tr>
                    <td align="center" style="background-color:lightsalmon">@Html.ActionLink("Em Tratamento", "ListarBugEstado", "Home", new { estado = "Em Tratamento" }, new { Style = "color:White" })</td>
                    <td align="center">@emTrat</td>
                </tr>
                <tr>
                    <td align="center" style="background-color:lightgreen">@Html.ActionLink("Corrigidos", "ListarBugEstado", "Home", new { estado = "Corrigido" }, new { Style = "color:White" })</td>
                    <td align="center">@Corrig</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-4">
        <h3><b>Bugs por Tipo</b></h3>
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th class="active" align="center"><center>Tipo de Bug</center></th>
                    <th class="active" align="center"><center>Quantidade</center></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td align="center">@Html.ActionLink("Erro 500", "ListarBugTipo", "Home", new { tipobug = "Erro 500" },null)</td>
                    <td align="center">@bugtipo500</td>
                </tr>
                <tr>
                    <td align="center">@Html.ActionLink("Erro 404", "ListarBugTipo", "Home", new { tipobug = "Erro 404" }, null)</td>
                    <td align="center">@bugtipo404</td>
                </tr>
                <tr>
                    <td align="center">@Html.ActionLink("Interface", "ListarBugTipo", "Home", new { tipobug = "Interface" }, null)</td>
                    <td align="center">@bugtipoInterface</td>
                </tr>
                <tr>
                    <td align="center">@Html.ActionLink("Fluxo", "ListarBugTipo", "Home", new { tipobug = "Fluxo" }, null)</td>
                    <td align="center">@bugtipoFluxo</td>
                </tr>
                <tr>
                    <td align="center">@Html.ActionLink("Calculo", "ListarBugTipo", "Home", new { tipobug = "Calculo" }, null)</td>
                    <td align="center">@bugtipoCalc</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-4">
        <h2>Tempo médio de resolução de Bugs</h2>
        <p>Média em dias, com base na media do time span entre abertura e data estimada de resolucao</p>
        tera um KPI para isso tambem = 95% dos bugs resolvidos em X dias
        </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <h2>Meta de Bugs por Projeto</h2>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="active">Projeto</th>
                    <th class="active">Quantidade de Bugs</th>
                    <th class="active">KPI Meta</th>
                    <th class="active">KPI Real</th>
                </tr>
            <tbody>
                @foreach (var projeto in Model.Projetos)
                {
                    <tr>
                        <td>
                            @projeto.NomeProjeto
                        </td>
                        <td>
                            Model.Bugs.Count criar proprieda na Model projetoc QTDBugs e atualizar con Raw SQL toda vez que se cria um bug
                        </td>
                        <td>
                            xxxx
                        </td>
                        <td>
                            hhhh
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <h2>Grafico</h2>
        <p>espaço para o grafico</p>
    </div>
    <div class="col-md-4">
        <h2>Estado de Projetos</h2>
        <p>Em atraso, no prazo, adiantado</p>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-3">
        <div class="container-fluid" style="background-color:lightgrey">
            <table>
                <tr>
                    <td rowspan="4"><img src="data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3e%3cpath fill='%23000000' d='M528 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h480c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-352 96c35.3 0 64 28.7 64 64s-28.7 64-64 64-64-28.7-64-64 28.7-64 64-64zm112 236.8c0 10.6-10 19.2-22.4 19.2H86.4C74 384 64 375.4 64 364.8v-19.2c0-31.8 30.1-57.6 67.2-57.6h5c12.3 5.1 25.7 8 39.8 8s27.6-2.9 39.8-8h5c37.1 0 67.2 25.8 67.2 57.6v19.2zM512 312c0 4.4-3.6 8-8 8H360c-4.4 0-8-3.6-8-8v-16c0-4.4 3.6-8 8-8h144c4.4 0 8 3.6 8 8v16zm0-64c0 4.4-3.6 8-8 8H360c-4.4 0-8-3.6-8-8v-16c0-4.4 3.6-8 8-8h144c4.4 0 8 3.6 8 8v16zm0-64c0 4.4-3.6 8-8 8H360c-4.4 0-8-3.6-8-8v-16c0-4.4 3.6-8 8-8h144c4.4 0 8 3.6 8 8v16z'/%3e%3c/svg%3e" alt="Image" width="100" height="100"></td>
                    <td>DevNome</td>
                </tr>
                <tr>
                    <td>EmailDev</td>
                </tr>
                <tr>
                    <td>TelDev</td>
                </tr>
                <tr>
                    <td>Ver Bugs com Dev</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-3">
        <div class="container-fluid" style="background-color:lightgray">
            <table>
                <tr>
                    <td rowspan="4"><img src="data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3e%3cpath fill='%23000000' d='M528 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h480c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-352 96c35.3 0 64 28.7 64 64s-28.7 64-64 64-64-28.7-64-64 28.7-64 64-64zm112 236.8c0 10.6-10 19.2-22.4 19.2H86.4C74 384 64 375.4 64 364.8v-19.2c0-31.8 30.1-57.6 67.2-57.6h5c12.3 5.1 25.7 8 39.8 8s27.6-2.9 39.8-8h5c37.1 0 67.2 25.8 67.2 57.6v19.2zM512 312c0 4.4-3.6 8-8 8H360c-4.4 0-8-3.6-8-8v-16c0-4.4 3.6-8 8-8h144c4.4 0 8 3.6 8 8v16zm0-64c0 4.4-3.6 8-8 8H360c-4.4 0-8-3.6-8-8v-16c0-4.4 3.6-8 8-8h144c4.4 0 8 3.6 8 8v16zm0-64c0 4.4-3.6 8-8 8H360c-4.4 0-8-3.6-8-8v-16c0-4.4 3.6-8 8-8h144c4.4 0 8 3.6 8 8v16z'/%3e%3c/svg%3e" alt="Image" width="100" height="100"></td>
                    <td>DevNome</td>
                </tr>
                <tr>
                    <td>EmailDev</td>
                </tr>
                <tr>
                    <td>TelDev</td>
                </tr>
                <tr>
                    <td>Ver Bugs com Dev</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-3">
        <div class="container-fluid" style="background-color:lightgray">
            <table>
                <tr>
                    <td rowspan="4"><img src="data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3e%3cpath fill='%23000000' d='M528 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h480c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-352 96c35.3 0 64 28.7 64 64s-28.7 64-64 64-64-28.7-64-64 28.7-64 64-64zm112 236.8c0 10.6-10 19.2-22.4 19.2H86.4C74 384 64 375.4 64 364.8v-19.2c0-31.8 30.1-57.6 67.2-57.6h5c12.3 5.1 25.7 8 39.8 8s27.6-2.9 39.8-8h5c37.1 0 67.2 25.8 67.2 57.6v19.2zM512 312c0 4.4-3.6 8-8 8H360c-4.4 0-8-3.6-8-8v-16c0-4.4 3.6-8 8-8h144c4.4 0 8 3.6 8 8v16zm0-64c0 4.4-3.6 8-8 8H360c-4.4 0-8-3.6-8-8v-16c0-4.4 3.6-8 8-8h144c4.4 0 8 3.6 8 8v16zm0-64c0 4.4-3.6 8-8 8H360c-4.4 0-8-3.6-8-8v-16c0-4.4 3.6-8 8-8h144c4.4 0 8 3.6 8 8v16z'/%3e%3c/svg%3e" alt="Image" width="100" height="100"></td>
                    <td>DevNome</td>
                </tr>
                <tr>
                    <td>EmailDev</td>
                </tr>
                <tr>
                    <td>TelDev</td>
                </tr>
                <tr>
                    <td>Ver Bugs com Dev</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-3">
        <div class="container-fluid" style="background-color:lightgray">
            <table>
                <tr>
                    <td rowspan="4"><img src="data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3e%3cpath fill='%23000000' d='M528 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h480c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-352 96c35.3 0 64 28.7 64 64s-28.7 64-64 64-64-28.7-64-64 28.7-64 64-64zm112 236.8c0 10.6-10 19.2-22.4 19.2H86.4C74 384 64 375.4 64 364.8v-19.2c0-31.8 30.1-57.6 67.2-57.6h5c12.3 5.1 25.7 8 39.8 8s27.6-2.9 39.8-8h5c37.1 0 67.2 25.8 67.2 57.6v19.2zM512 312c0 4.4-3.6 8-8 8H360c-4.4 0-8-3.6-8-8v-16c0-4.4 3.6-8 8-8h144c4.4 0 8 3.6 8 8v16zm0-64c0 4.4-3.6 8-8 8H360c-4.4 0-8-3.6-8-8v-16c0-4.4 3.6-8 8-8h144c4.4 0 8 3.6 8 8v16zm0-64c0 4.4-3.6 8-8 8H360c-4.4 0-8-3.6-8-8v-16c0-4.4 3.6-8 8-8h144c4.4 0 8 3.6 8 8v16z'/%3e%3c/svg%3e" alt="Image" width="100" height="100"></td>
                    <td>DevNome</td>
                </tr>
                <tr>
                    <td>EmailDev</td>
                </tr>
                <tr>
                    <td>TelDev</td>
                </tr>
                <tr>
                    <td>Ver Bugs com Dev</td>
                </tr>
            </table>
        </div>
    </div>
</div>
