@model IEnumerable<TaskMaster.Models.Bugs>
@{
    ViewBag.Title = "Home Page";

    string abertos = ViewData["QtdBugsAbertos"].ToString();
    string emTrat = ViewData["QtdBugsEmTrat"].ToString();
    string Corrig = ViewData["QtdBugsCorrigido"].ToString();
}

<div class="jumbotron">
    <h1><b>Task Master</b></h1>
    <p class="lead">
        Espaço para Controle de Projetos de Desenvolvimento de Software.<br />
        Cadastre seus Projetos, as respectivas Tarefas (Tasks) de Teste e controle os Bugs encontrados.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Bugs Encontrados</h2>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="active">Quantidade de Bugs</th>
                    <th class="active">Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@abertos</td>
                    <td>@Html.ActionLink("Abertos", "ListarBugEstado", "Home", new { estado= "Aberto" }, null)</td></tr>
                    <td>@emTrat</td>
                    <td>@Html.ActionLink("Em Tratamento", "ListarBugEstado", "Home", new { estado= "Em Tratamento" }, null)</td></tr>
                    <td>@Corrig</td>
                    <td>@Html.ActionLink("Corrigidos", "ListarBugEstado", "Home", new { estado = "Corrigidos" }, null)</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <h2>Bugs por Tipo</h2>
        <p>Quantidade de Bugs por tipo</p>
    </div>
    <div class="col-md-4">
        <h2>Bugs por Desenvolvedor</h2>
        <p>Quantidade de Bugs por Dev</p>
    </div>
</div>