@model TaskMaster.ViewModels.BugsViewModel
@{
    ViewBag.Title = "Home Page";

    string abertos = ViewData["QtdBugsAbertos"].ToString();
    string emTrat = ViewData["QtdBugsEmTrat"].ToString();
    string Corrig = ViewData["QtdBugsCorrigido"].ToString();

    string bugtipo500 = ViewData["bugtipo500"].ToString();
    string bugtipo404 = ViewData["bugtipo404"].ToString();
    string bugtipoInterface = ViewData["bugtipoInterface"].ToString();
    string bugtipoFluxo = ViewData["bugtipoFluxo"].ToString();
    string bugtipoCalc = ViewData["bugtipoCalc"].ToString();

    int ratio = 2;
}

<div class="jumbotron container-fluid">
    <h2><b>Task Master</b></h2>
    <h3>
        Software para Controle de Projetos de Desenvolvimento de Software.<br />
        Cadastre seus Projetos, respectivas Tarefas (Tasks) de Teste e controle os Bugs encontrados.
    </h3>
</div>
<hr />
<h4><b>Time de Desenvolvimento</b></h4>
<div class="row">
    @foreach (var dev in Model.Devs)
    {
        <div class="col-md-3">
            <div class="shadowbox" style="background-color:lightgrey">
                <table>
                    <tr>
                        <td rowspan="3"><img src=@dev.UrlPhotoDev alt="Image" width="60" height="80"></td>
                        <td><h4><b>@dev.DevNome</b></h4></td>
                    </tr>
                    <tr>
                        <td><a href="mailto:@dev.EmailDev" target="_top">Enviar e-mail</a></td>
                    </tr>
                    <tr>
                        <td>@dev.TelDev</td>
                    </tr>
                    <tr>
                        <td colspan="2"><b>Ver @Html.ActionLink("todos os Bugs", "ListarBugDev", "Home", new { DevId = dev.DevsId }, null) com @dev.DevNome</b></td>
                    </tr>
                </table>
            </div>
        </div>
    }
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <h4><b>Bugs Encontrados</b></h4>
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th class="active" align="center"><center>Estado</center></th>
                    <th class="active" align="center"><center>Quantidade de Bugs</center></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td align="center" style="background-color:lightcoral">@Html.ActionLink("Abertos", "ListarBugEstado", "Home", new { estado = "Aberto" }, new { Style = "color:White" })</td>
                    <td align="center">@abertos</td>
                </tr>
                <tr>
                    <td align="center" style="background-color:lightsalmon">@Html.ActionLink("Em Tratamento", "ListarBugEstado", "Home", new { estado = "Em Tratamento" }, new { Style = "color:White" })</td>
                    <td align="center">@emTrat</td>
                </tr>
                <tr>
                    <td align="center" style="background-color:lightgreen">@Html.ActionLink("Corrigidos", "ListarBugEstado", "Home", new { estado = "Corrigido" }, new { Style = "color:White" })</td>
                    <td align="center">@Corrig</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-4">
        <h4><b>Bugs por Tipo</b></h4>
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th class="active" align="center"><center>Tipo de Bug</center></th>
                    <th class="active" align="center"><center>Quantidade</center></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td align="center">@Html.ActionLink("Erro 500", "ListarBugTipo", "Home", new { tipobug = "Erro 500" }, null)</td>
                    <td align="center">@bugtipo500</td>
                </tr>
                <tr>
                    <td align="center">@Html.ActionLink("Erro 404", "ListarBugTipo", "Home", new { tipobug = "Erro 404" }, null)</td>
                    <td align="center">@bugtipo404</td>
                </tr>
                <tr>
                    <td align="center">@Html.ActionLink("Interface", "ListarBugTipo", "Home", new { tipobug = "Interface" }, null)</td>
                    <td align="center">@bugtipoInterface</td>
                </tr>
                <tr>
                    <td align="center">@Html.ActionLink("Fluxo", "ListarBugTipo", "Home", new { tipobug = "Fluxo" }, null)</td>
                    <td align="center">@bugtipoFluxo</td>
                </tr>
                <tr>
                    <td align="center">@Html.ActionLink("Calculo", "ListarBugTipo", "Home", new { tipobug = "Calculo" }, null)</td>
                    <td align="center">@bugtipoCalc</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-4">
        <h4>Tempo médio de resolução de Bugs</h4>
        <p>Média em dias, com base na media do time span entre abertura e data estimada de resolucao</p>
        tera um KPI para isso tambem = 95% dos bugs resolvidos em X dias
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <h4><b>Bugs por Projeto</b></h4>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="active"><center>Projeto</center></th>
                    <th class="active"><center>Bugs</center></th>
                    <th class="active" title="2 Bugs para cada Task do Projeto"><center>Meta</center></th>
                    <th class="active" title="Número real de Bugs encontrados em cada Task do Projeto"><center>Indicador</center></th>
                </tr>
            <tbody>
                @foreach (var projeto in Model.Projetos)
                {
                    <tr>
                        <td>
                            @projeto.NomeProjeto
                        </td>
                        <td>
                            @projeto.QtdBugsPrj
                        </td>
                        <td>
                            1:@ratio
                        </td>
                        @if (@projeto.BugsRatio > @ratio)
                        {
                            <td style="background-color:lightcoral" align="center">
                                <b>1:@projeto.BugsRatio</b>
                            </td>
                        }
                        else
                        {
                            <td style="background-color:lightgreen" align="center">
                                1:@projeto.BugsRatio
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <h4>Grafico</h4>
        <p>espaço para o grafico</p>
    </div>
    <div class="col-md-4">
        <h4>Estado de Projetos</h4>
        <p>Quantidade de projetos no prazo e em atraso (com viewdata)</p>
    </div>
</div>
<hr />

